.panel-info {

  .panel-body {
    text-align: center;
    max-height: 200px;
    overflow: auto;
  }

  .list-group-item{
    font-size: 12px;
    margin-bottom: 5px !important;
  }
}

.panel-info a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}