$primary: #dfeadf;

body {
  background-color: $primary;
}

.navbar {
  border-radius: 0;
}

.nav-item a{
  color: #fff!important;
}

#main-menu {
  margin-top: 10px;
}

@mixin myButton{
  color: #fff;
  background-color: #368e2b;
  border-color: #5b695b;
  margin-bottom: 10px;
}

.btn-custom {
  @include myButton;
  &:hover{
    @include myButton;
  }
}

.col-centered{
  float: none;
  margin: 0 auto 15px auto;
  width: 60%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8ffe4 inset;
}

#login-form{
  margin-top: 90px;
  max-width: 500px;
}