$primary: #dfeadf;

body {
  background-color: $primary;
}

#mainmenu {
  margin-top: 2em;
}

.navbar {
  border-radius: 0;
}

.nav-item a{
  color: #fff;
}

.panel--requerimentos {
  max-height: 37em;
  overflow-y: hidden;
}

.panel-body--requerimentos {
  overflow: auto;
  height: 25em;
}

.list-group-item--clickable {
  cursor: pointer;
  &:hover {
    background-color: #d4f1d0;
    transition-property: background-color;
    transition-duration: .7s;
  }
}

@mixin myButton{
  color: #fff;
  background-color: #368e2b;
  border-color: #5b695b;
}

.btn-custom {
  @include myButton;
  &:hover{
    @include myButton;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8ffe4 inset;
}

.side-menu {
  span {
    float: left;
  }
  .side-item {
    text-align: center;
  }
}

.btn-primary {
  margin-bottom: 1em;
}

textarea {
  resize: vertical;
}