$primary: #dfeadf;
//$primary: #f0556f;

body {
  background-color: $primary !important;
}

.navbar {
  border-radius: 0 !important;
}

.nav-item a{
  color: #fff!important;
}

#main-menu {
  margin-top: 10px;
}

@mixin myButton{
  color: #fff !important;
  background-color: #368e2b;
  border-color: #5b695b;
}

.btn-custom {
  @include myButton;
  &:hover{
    @include myButton;
  }
}

.col-centered{
  float: none;
  margin: 0 auto 15px auto;
  width: 85%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8ffe4 inset;
}

#login-form{
  margin-top: 90px;
  max-width: 500px;
}

.side-menu {
  span {
    float: left;
  }
  .side-item {
    text-align: center;
  }
}