<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>

    <div id="root" ></div>
    <script th:src="@{js/bundle.min.js}"></script>
    <!-- <link rel="stylesheet" th:href="@{css/bundle.css}" /> -->

</body>
</html>
